html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    font-family: 'Ubuntu';
}

#container {
    margin: 25px;
}

header {
    margin: 0;
    background-color: green;
    color: white;
    text-align: center;

}

img#sapin {
    margin: 0 auto;
    display: block;
    height: max-content;
    max-width: calc(100vw - 2*25px);
}

footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 25px;
}

.lien_footer {
    color: white;
}

p {
    text-align: justify;
    justify-content: center;
}

@media (min-width:768px) {
    #container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    img {
        margin: 0;
    }

    p#context {
        max-width: 300px;
    }
}